/*
body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}
*/
ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

section {
  width: 610px;
  margin: 0 auto;
}

.wrapper {
  width: 300px;
  min-height: 250px;
  position: relative;
  border: 2px solid rgba(orange, 1);
  border-left: 40px solid rgba(orange, 1);
  padding: 15px;
  color: rgba(black, 0.5);
  font-size: small;
  display: inline-block;
}
  
.verticaltext1 {
  transform: rotate(90deg);
  text-align: right;
  writing-mode: vertical-rl;
  text-orientation: mixed;

}

.verticaltext {
  transform: rotate(-90deg);
}

 .LineContainer {
  display: flex;
  flex-direction: row;
  justify-content: left;
}